---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='關於 rhinobrid' {headings} comment>
  {/* about-blog */}
  <h2 id='about-blog'>rhinobrid 是什麼？</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2026-01-21',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2026-01-21',
        content:
          '決定使用 <a href="https://astro-pure.js.org/" target="_blank">Astro-Pure</a> 這個 theme'
      },      
      {
        date: '2026-02-01',
        content:
          '備用。'
      }
    ]}
  />
 
</PageLayout>
